<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data[index].type}}</mat-card-title>
      <mat-card-subtitle>{{data[index].address}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data[index].img" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ data[index].phone }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

  <div class="element-bg-img"><img [src]="data[index].img" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li *ngFor="let card of data; let i = index; let lst = last" (click)="onChangeIndex(i)" [ngClass]="lst ? 'anc-bor' : ''">
          <a href="#">{{ card.type }}</a>
        </li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
       <span class="line"> </span>
         <div class="activity_box">
          <div class="scrollbar" id="style-2">
                 <div class="activity-row">
                 <div class="activity-desc">
                   <h5>Resort Address</h5>
                    <p>Sed perspiciatis</p>
                    <p>Et harum quidem</p>
                   <h6>Tel:+1285 968 685</h6>
                 </div>
                 <div class="activity-img">
                   <ul>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   </ul>
                   </div>
                 <div class="clear"> </div>
                  </div>
            <div class="activity-row">
                <div class="activity-desc">
                   <h5>Resort Address</h5>
                    <p>Sed ut perspiciatis</p>
                    <p>Et harum quidem</p>
                    <h6>Tel:+1285 968 685</h6>
                 </div>
                 <div class="activity-img">
                   <ul>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   </ul>
                   </div>
                 <div class="clear"> </div>
                  </div>
                  <div class="activity-row">
                <div class="activity-desc">
                   <h5>Resort Address</h5>
                    <p>Sed ut perspiciatis</p>
                    <p>Et harum quidem</p>
                   <h6>Tel:+1285 968 685</h6>
                 </div>
                 <div class="activity-img">
                   <ul>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   <li><img [src]="data[index].img"  alt=""/></li>
                   </ul>
                   </div>
                 <div class="clear"> </div>
                  </div>
              </div>
          </div>
     </div>
</div>
