<!-- <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">{{ data[index].social_info.title }}</mat-card-title>
      </mat-card-header>
      <div class="image-wrapper">
        <img mat-card-image [src]="data[index].social_info.img" [alt]="data[index].social_info.title">
      </div>
      <mat-card-content>
        <p>
          <strong>Подписчиков</strong>
          {{ data[index].social_info.followers }}
        </p>
        <p>
          <strong>Подписок</strong>
          {{ data[index].social_info.following }}
        </p>
      </mat-card-content>
    </mat-card> -->
  <div class="teddy-bear">
          <div class="teddy-text">
            <h4>Nam libero voluptatem</h4>
            <span class="w-line"> </span>
            <img src="assets/images/b1.jpg" alt=""  class="img-responsive">
            </div>
            <div class="teddy-follow">
              <ul>
                <li class="folw-h"><h3>2850</h3>
                  <p>Followers</p>
                </li>
                <li><h3>675</h3>
                  <p>Following</p>
                </li>
              </ul>
            </div>
        </div>
